body {
    margin: 0;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FCF7C5;
    background: url('../../images/starwarsv.jpg') #202020;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    text-align: left;
    color: #ffffff;
    background-color: rgba(41,34,31, 0.8);
    margin-bottom: 100px;
    margin-top: 0px;
    padding-bottom: 10px;
    position: relative;
}

#nav-bar {
    margin-bottom: 100px;
    float: right;
    /*background-color: rgba(41,34,31, 0.8);*/
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 1%;
}

button {
    margin-left: 2px;
    padding-bottom: 3px;
    font-size: 1.5em;
    font-weight: lighter;
    border: solid 1px #FC354C;
    border-radius: 10px;
    background-color: rgba(39, 47, 58, 0.8);
    color: #ffffff;
}

button:focus {
    outline: none;
    color: #ffffff;
}

button:active {
    border: 1px solid #ffffff;
}

table {
    width: 70%;
    /*margin: 0 auto;*/
}

tr {
    display: inline;
}

td {
    text-align: center;
    border: 1px solid black;
    background-color: rgba(41,34,31, 0.8);
    margin-bottom: 50px;
    margin-top: 15px;
    font-weight: lighter;
    display: inline;
}

.title {
    display: inline;
    font-weight: bold;
    text-align: center;
    color: #0ABFBC;
    border-right: 0px;
}

.date {
    margin-left: 0px;
    display: inline;
    color: #188f9b;
    border-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    display: block;
    width: 80%;
    padding: 10px;
    border: 1px solid #FC354C;
    border-radius: 10px;
    margin-bottom: 5%;
}

.table-data {
    /*width: 5%;*/
    text-align: center;
}

#advert {
    width: 28%;
    border: 1px solid black;
    background-color: rgba(41,34,31, 0.8);
    display: inline;
}