body {
background-color: #343434;
    font-family: 'Exo', sans-serif;
    margin: 0;
}

button:focus {
    outline: 0;
}

button:hover {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-style: solid;
}

h1 {
    margin-top: 0px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(122, 255, 201, 0.66);
}

#player {
    font-size: 2em;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 5%;
}

#game-start {
    font-family: 'Exo', sans-serif;
    border: solid transparent;
    background-color: transparent;
    color: #ffffff;
    padding: 2px;
    text-align: center;
    font-size: 2em;
    height: 45px;
    width: 180px;
    position: absolute;
    left: 10%;
    top: -1%;
}

#gameboard {
    opacity: 0;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 0;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.row {
    background: #4d576c;
    padding-top: 5px;
    width: 146px;
    height: 146px;
    margin: 4px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}
