html, body {
    background-color: #343838;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    /*font-size: 1.5em;*/
    height: 48px;
    color: #ffffff;
    position: relative;
    background-color: #00DFFC;
    margin-top: 0;
    padding: 10px 5px 5px 25px;
}

#cloud-icon {
    height: 64px;
    width: 64px;
    position: absolute;
    top: 0%;
    left: 26%;
}

#city-name {
    background-color: rgba(0, 180, 204, 0.6);
    text-shadow: 3px 3px #264455;
    margin: 5px 0 5px 5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    color: #ffffff;
}

#nav-bar {
    height: 48px;
    width: 400px;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10px 5px 5px 5px;
}

.nav-bar-content {
    margin: 4px;
    font-size: 1.5em;
}

#city-input {
    text-align: center;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

button:active {
    border: 1px solid #ffffff;
}

button {
    color: #ffffff;
}

#test-info {
    text-align: center;
    background: url('../../images/clouds1.jpg');
    background-size: cover;
    margin: 0 auto;
    width: 90%;
    height: 220px;
    border-radius: 5px;
}

.info-box {
    font-size: 1.4em;
    text-align: center;
    color: #ffffff;
    background-color: rgba(77, 87, 108, 0.6);
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
    width: 30%;
    height: 100%;
    max-width: inherit;
    display: inline-block;
}

p {
    margin: 5px;
}

#map {
    margin: 2% auto;
    height: 400px;
    width: 90%;
    background-color: #1cbced;
    border-radius: 5px;
}

#get-info {
    border-radius: 5px;
}