body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/vgmega.jpg);
    color: #00bfed;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #00bfed;
    text-decoration: underline;
}

ol {
    list-style: none;
}

table {
    font-size: 20px;
    padding: 5px;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: darkorange;
}

a:hover {
    font-size: 30px;
}